<div class="container">
  <button class="btn btn-primary" (click)="lightsOn = !lightsOn">
    Toggle Day & Night
  </button>

  <div
    [ngClass]="lightsOn ? 'nightView' : 'dayView'"
    class="d-flex justify-content-center align-items-center"
  >
    <app-nord-light *ngIf="lightsOn"></app-nord-light>
    <div
      *ngIf="!lightsOn"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <mat-icon>change_history</mat-icon>
      <mat-icon>change_history</mat-icon>
    </div>
  </div>
</div>
