.nightView {
  background-color: black;
  height: 200px;
  width: 200px;
}

.dayView {
  background-color: lightgray;
  height: 200px;
  width: 200px;
}

.light {
  background-color: aliceblue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px dotted grey;
}
